# Project exclude paths
/.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# env
/local.properties

# generated
/clones/
/src/androidMain/resources/android-armv7
/src/androidMain/resources/android-aarch64
/src/androidMain/resources/android-x86
/src/androidMain/resources/android-x86-64
/src/jvmMain/resources/darwin
/src/jvmMain/resources/darwin-aarch64
/src/jvmMain/resources/linux-aarch64
/src/jvmMain/resources/linux-x86-64
/src/jvmMain/resources/win32-x86-64

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

